.mt-4{
    margin-top: 40px;
}
.mt-3{
    margin-top: 30px;
}
.mt-2{
    margin-top: 20px;
}
.mt-1{
    margin-top: 10px;
}
.joinOutherContainer{
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #1a1a1d;
}
.joinInnerContainer{
    width: 25%;
}
.join-input{
    width: 100%;
    padding: 15px 20px;
    border-radius: 0;
    box-sizing: border-box;
}
.heading{
    color: white;
    padding-bottom: 10px;
    font-size: 2.5em;
    border-bottom: 2px solid;
    width: 100%;
}
.button {
    color: white;
    background-color: #2979ff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3;
    &:hover{
        opacity: .8;
    }
  }